.sidenav {
    width: 180px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 80px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #FF9F1C;
}

.main {
    margin-left: 300px;
    /* Same width as the sidebar + left position in px */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#computerScience {
    margin-left: 300px;
    /* Same width as the sidebar + left position in px */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}