.interview__container_expertise {
    display: flex;
}

.interview__container_interview {
    display: flex;
}

.sidenav {
    width: 180px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 80px;
    background: #eee;
    overflow-x: hidden;
    padding: 2px 0;
    height: 100%;
    /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;
    /*places the left and right headers above the bottom content*/
}

.sidenav a {
    padding: 10px 23px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #FF9F1C;
}

.main {
    margin-left: 300px;
    /* Same width as the sidebar + left position in px */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.rightBlock {
    margin-left: 300px;
    /* Same width as the sidebar + left position in px */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    height: 100%;
    /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;
    /*places the left and right headers above the bottom content*/
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#left {
    flex-shrink: 0;
    /*makes sure that content is not cut off in a smaller browser window*/
}

#right {
    flex-shrink: 0;
    display: inline-flex;
}

.bottom {
    flex-grow: 1;
    /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;
    /* adds scroll to this container */
    /* width: 20%; */
}