body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin: 0px 50px;
}

input {
    font-size: 16px;
}

select {
    background-color: #f2f2f2;
    padding: 2px;
    height: 24px;
    width: 85px;
}

textarea {
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 16px;
    width: 350px;
}

.button {
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.nextButton {
    color: white;
    background-color: #FF9F1C;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    float: right;
    margin-right: 200px;
}

.backButton {
    color: white;
    background-color: #FF9F1C;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    float: left;
    margin-left: 200px;
}

.interview__container_header {
    display: flex;
    align-items: center;
    padding: 0px 120px;
}

.interview__container_header hr {
    width: 800px;
    border: dashed 1px;
}

.interview__container_personalInfo {
    font-size: 18px;
}

.interview__container_header {
    font-size: 12px;
}

.inputField {
    display: flex;
    margin: 20px 100px;
    justify-content: space-between;
}

.label {
    flex-basis: 50%;
    text-align: end;
    margin-right: 10px;
    font-size: 20px;
    color: gray;
    font-style: italic;
}

.input {
    flex-basis: 50%;
    align-self: flex-start;
    margin-left: 10px;
}


/* input[type="radio" i]:before {
    background-color: #FF9F1C !important;
    border: 1px solid #FF9F1C;
    color: #FF9F1C;
} */